<div class="bg-lime-100">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Title</span>
    </div>
    <input type="text" placeholder="Enter task title" class="input input-bordered w-full max-w-xs" maxlength="50" required />
    <!-- <div class="label">
      <span class="label-text-alt">{{ taskTitle.value.length }}/50 Characters</span>
      <span class="label-text-alt text-rose-600" *ngIf="taskTitle.errors?.['required'] && taskTitle.touched">Task title is required</span>
      <span class="label-text-alt text-rose-600" *ngIf="taskTitle.errors?.['maxlength'] && taskTitle.dirty">Max character length exceeded</span>
    </div> -->
  </label>
</div>
