/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use './themes/theme-colors' as my-theme;


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    height: 100%;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    @include mat.theme((
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: (
        plain-family: "Poppins"
      )
    ));
  }
}

.priority-low {
  background-color: #d9f99d !important;
  color: #020617 !important;
}

.priority-medium {
  background-color: #fef08a !important;
  color: #020617 !important;
}

.priority-high {
  background-color: #fecaca !important;
  color: #dc2626 !important;
}
